# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 가상 환경
venv/
ENV/
env/

# 로그 파일 및 생성된 데이터
logs/
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.db
*.sqlite3

# IDE 관련 파일
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 프로젝트 특정 파일
# OpenAI API 키가 포함된 환경 파일
.env

# 이미지 파일
src/mock_shop/static/images/*.jpg
src/mock_shop/static/images/*.png

# 세션 데이터
instance/ 